@(listOfUser: List[services.UserData])(implicit messages:MessagesProvider,request: RequestHeader,flash:Flash)
@main("User"){
<div>
    @adminProfile()
</div>
<br>
<div class="container">
    <div class="text-center">
        <h2>List of Users</h2>
        <table class="table">
            <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Username</th>
                <th>Enable/Disable User</th>
            </tr>
            </thead>
            <tbody>
            @for(user <- listOfUser){
            <tr>
                <td>@user.firstName</td>
                <td>@user.lastName</td>
                <td>@user.username</td>
                @if(user.isActive){
                <td>
                    <a type="button" href="@routes.AdminController.enableOrDisableUser(user.username,false)" title="click here for Disable">Enable</a>
                </td>

                }else{
                <td>
                    <a type="button" href="@routes.AdminController.enableOrDisableUser(user.username,true)" title="click here for Enable">Disable</a>
                </td>
                }
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}