@(user: Form[models.UserStoreData])(implicit request:RequestHeader)
@import helper._
@main("Registration Form") {
@if(user.hasGlobalErrors) {
<p>
    @user.globalError.map{ error => @error.message}
</p>
}
<form action="@routes.HomeController.storeUserData()" method="POST">
    @CSRF.formField
    <div class="form-group col-md-6">
        <label>First Name :</label>
        <input type="text" class="form-control" name="firstName">
        <p class=".text-danger">@user("firstName").error.map{error => @error.message}</p>
    </div>
    <div class="form-group col-md-6">
        <label>Middle Name :</label>
        <input type="text" class="form-control" name="middleName">
        <p class=".text-danger">@user("middleName").error.map{error => @error.message}</p>
    </div>
    <div class="form-group col-md-6">
        <label>Last Name :</label>
        <input type="text" class="form-control" name="lastName">
        <p class=".text-danger"> @user("lastName").error.map{error => @error.message}</p>
    </div>
    <div class="form-group col-md-6">
        <label> Username :</label>
        <input type="text" class="form-control" name="username">
        @user("username").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        <label> Password :</label>
        <input type="password" class="form-control" name="password">
        @user("password").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        <label>Confirm Password :</label>
        <input type="password" class="form-control" name="rePassword">
        @user("rePassword").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        <label>Mobile Number :</label>
        <input type="text" class="form-control" name="mobile">
        @user("mobile").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        <label>Gender :</label><br>
        <input type="radio" name="gender" value="male" checked="checked"> Male
        <input type="radio" name="gender" value="female"> Female<br>
        @user("gender").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        <label> Age :</label>
        <input type="number" name="age" class="form-control" min="18" max="75" required>
        @user("age").error.map{error => @error.message}
    </div>
    <div class="form-group col-md-6">
        <label>Select your interest :</label><br>
        <input type="radio" name="hobbies" value="music" checked="checked">music
        <input type="radio" name="hobbies" value="dance">dance <br>
        @user("hobby").error.map{error => @error.message}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
}